
body
{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
header
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
a
{
    text-decoration: none;
}
.bloc-logo
{
    height: 3em;
    width: 60%;
}
.logo
{
    height: 100%;
}
.navigation
{
    font-size: medium;
    display: flex;
    justify-content: space-evenly;
    width: 30%;

}
.ancre
{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding-top: 1em;
}
.ancre:hover
{
    border-top: #0065FC solid 3px;
    color:#0065FC;
}

.link-subscription
{
    padding-top: 1em; 
    text-decoration: none;
    justify-self: center;
    width: 10%;
}
@media screen and (max-width: 768px)
/* Sur les écrans, quand la largeur de la fenêtre fait entre 576 px et 768px */
{
    header
    {
       display: flex;
       flex-wrap: wrap;
       align-items: flex-end;
       box-sizing: border-box;
    }
    .bloc-logo
    {
        order: 1;
        width: 50%;
        margin-bottom: 0px;

    }
    .navigation
    {
        order: 3;
        width: 100%;
        display: flex;
        margin-bottom: 1em;

    }
    .link-subscription
    {
        order: 2;
        width: 50%;
        align-self: center;
        text-align: right;

    }
    .ancre
    {
        width: 50%;
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 1em;
        
    }
    .ancre:hover
    {
        border-top: none;
        border-bottom: #0065FC solid 3px;
        color:#0065FC;
    } 
}
.main
{
    margin: auto;
}
.title-form
{
   font-size: large; 
   padding-top: 1em;
}
.subtitle-form
{
    font-size: medium;
    margin-top: 10px;
}
.form-search
{
    display: flex;
    height: 3em;
}
.btn-left
{
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid #F2F2F2 1px ;
    min-width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-data
{
    display: block;
    width: 12em;
    border: solid #F2F2F2 1px;
    font-size: large;
    align-items: flex-start;
    padding-left: 1em;
    font-family: 'Raleway', sans-serif;

}
.submit
{
    display: block;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid #0065FC 1px ;
    color: white;
    width: 8em;
    font-size: large;
}
.container-filtre
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    width: 100%;
}
.filtre-title1
{
    display: flex;
    margin-right: 1em;
    align-items: center;
    font-weight: bold;
    height: 3em;
}
.filtre
{
    display: flex;
    align-items: center;
    height: 3em;
    margin-right: 10px;
    border: 2px solid #F2F2F2;
    border-left: #0065FC;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 1em;
}
.filtre:hover
{
    background-color: #0065FC;
    font-style: bold;
    color: white;
    transform: scale(1.05);
}
.filtre-icone
{
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    display: flex;
    color: #0065FC;
    font-size: large;
    justify-content: center;
    align-items: center;
}
.filtre-title
{
    width: 10em;
    text-align: center;
    font-weight: bold;
}
.info-logement
{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.info-logement-icone
{
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #0065FC;
    font-size: x-small;
    border-radius: 100%;
    border: solid 1px #F2F2F2;
}
.info-logement-text
{
    font-size: small;
}
.container-content
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2em;

}
.hebergement
{
    box-sizing: border-box;
    padding: 1em;
    background-color: #F2F2F2;
    border-radius: 10px;
    border: solid #F2F2F2 3px ;
    display: flex;
    flex-direction: column;
    width: 65%;
    row-gap: 2em;
}
.text-hebergement
{
    font-size: large;
    font-weight: bold;

}
.container-hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;

}
.populaire
{
    box-sizing: border-box;
    padding: 1em;
    background-color: #F2F2F2;
    border-radius: 10px;
    border: solid #F2F2F2 3px ;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1em;
    row-gap: 2em;
}
.text-top-populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;

}
.container-populaire
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    row-gap: 2em;
}
.photo-hebergement
{
    border: white solid 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px grey;
    width: 30%;
    box-sizing: border-box;
}
.photo-populaire
{
    border: white solid 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    height: 9em;

}
.img-hebergement
{
    width: 100%;
    height: 7em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}
.img-populaire
{
    align-self: flex-start;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    width: 40%;
    height: 100%;
}
.legende-hebergement
{
    color: black;
}
.legende-populaire
{
    width: 60%;
    padding-left: 1em;
    box-sizing: border-box;
}
.hotel-name-hebergement
{
    font-size: medium;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
}
.hotel-name-populaire
{
    font-weight: bold;
    margin-block-start: 0em;
}
.price-hebergement
{
    font-size: small;
    margin: 0;
    margin-top: 5px; 
}
.price-populaire
{
    font-size: small;
    margin: 0;
    margin-top: 5px;
}
.fa-star
{
    color: #0065FC;
    font-size: 10px
}
.star-grey
{
    color: #F2F2F2;
}
.afficher-plus
{
    font-weight: bold;
    font-size: medium;

}
.activite
{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text-activite
{
    font-size: large;
    font-weight: bold;
    width: 100%;
    margin-bottom: 2em;
}
.container-activite
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 28em;
    row-gap: 2em;
}
.activite-port
{
    width: 20%;
    height: 26em;
    box-shadow: 4px 4px 5px grey;
    border-radius: 10px;
}
.activite-fort
{
    width: 20%;
    height: 14em;
    box-shadow: 4px 4px 5px grey;
    border-radius: 10px;
}
.activite-ile
{
    width: 20%;
    height: 10em;
    box-shadow: 4px 4px 5px grey;
    border-radius: 10px;
}
.activite-calanque
{
    width: 20%;
    height: 26em;
    box-shadow: 4px 4px 5px grey;
    border-radius: 10px;
}
.activite-notre-dame
{
    width: 20%;
    height: 12em;
    box-shadow: 4px 4px 5px grey;
    border-radius: 10px;
}
.activite-longchamp
{
    width: 20%;
    height: 12em;
    box-shadow: 4px 4px 5px grey;
    border-radius: 10px;
}
.img-port
{
    width: 100%;
    height: 24em;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img-fort
{
    width: 100%;
    height: 12em;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img-ile
{
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img-calanque
{
    width: 100%;
    height: 24em;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img-notre-dame
{
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.img-longchamp
{
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.activite-name
{
    padding-left: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: small;
}
@media screen and (max-width: 992px)
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 992px */
{
    .conteneur-filtre
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .filtre-title1
    {
        width: 100%;
        padding-bottom: 1em;
    }
    .conteneur-content
    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }   
    .hebergement
    {
        order: 2;
        width: 100%;
    }
    .photo-hebergement
    {
        width: 45%;
    }
    .populaire
    {
        order: 1;
        margin-left: 0px;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .container-populaire
    {
        display: flex;
        flex-direction: row;
    }
    .price-populaire
    {
        margin-bottom: 0px;
    }
    .activite
    {
        order: 3;
    }
}
@media screen and (max-width: 768px)
/* Sur les écrans, quand la largeur de la fenêtre fait entre 576 px et 768px */
{
    .filtre
    {
        margin-bottom: 1em;
    }
    .hebergement
    {
        border: none;
        background-color: white;
        padding: 0em;
    }
    .photo-hebergement
    {
        width: 100%;
    }
    .img-hebergement
    {
    }
    .container-activite
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100%;
        margin-bottom: 2em;
    }
    .activite-name
    {
        font-size: medium;
    }
    .activite-port
    {
        width: 100%;
    }
    .activite-fort
    {
        width: 100%;
    }
    .activite-ile
    {
        width: 100%;
    }
    .activite-calanque
    {
        width: 100%;
    }
    .activite-notre-dame
    {
        width: 100%;
    }
    .activite-longchamp
    {
        width: 100%;
    }
    .img-port
    {

    }
    .img-fort
    {

    }
    .img-ile
    {

    }
    .img-calanque
    {

    }
    .img-notre-dame
    {

    }
    .img-longchamp
    {
        height: 14em;
    }
}
footer
{
    background-color: #F2F2F2;
    width: 100%;
}
.footer
{
    padding-top: 2em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.footer-column
{
    width: 30%;
}
.footer-title
{
    font-weight: bold;
}
.footer-link
{
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: small;
}